{% extends "base.html" %}

{% block body %}
<div class="jumbotron text-center" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV6Jeb-whAJqgbwrWTuUbBLnLnPXpdgI5EzA&usqp=CAU); background-size: cover; height: 200px">
    <div class="container for-about">
            <h1>About Us</h1>
        </div>
    </div>
<style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    body {
  font-size: 120%;
}
</style>
<h1>Who We Are</h1>
<p>Charnate is a platform for corporations to donate to nonprofits and community organizations. 
    Users are able to communicate with others interested in their category of work. 
    Charnate believes that an overwhelming amount of nonprofits struggle with gaining funding and sponsors.
    We hope to aid our community through the mutual benefit of sponsorships.
</p>

<h1>Data</h1>
<p><b>42%</b> of nonprofits do not have the right mix of financial resources to thrive and be effective in the next three years</p>
<p><b>20%</b> of nonprofit funding in the United States is unrestricted</p>
<p><b>81%</b> of nonprofit leaders say access to capital is their biggest challenge</p>
<p><b>88%</b> of demand for services keeps rising as <b>57%</b> can't meet it</p>

<body>
<h3>Sources</h3>
<p>Gose, Ben. “Rising Demand for Services May Overwhelm an Uptick in Charity Finances, Study Finds.” The Chronicle of Philanthropy, 9 May 2018, https://www.philanthropy.com/article/rising-demand-for-services-may-overwhelm-an-uptick-in-charity-finances-study-finds/. Accessed 23 January 2021.
    Grantmakers for Effective Organizations. “What Financial Challenges do Nonprofits Face?” Geofunders, 5 March 2015, https://www.geofunders.org/resources/what-financial-challenges-do-nonprofits-face-661. Accessed 23 January 2021.
    Paynter, Ben. “5 Ways Nonprofits Struggle (And How to Overcome Them).” Fast Company, 3 April 2018, https://www.fastcompany.com/40552662/5-ways-the-nonprofit-industry-is-failing-and-how-overcome-them. Accessed 23 January 2021.
</p>
</body>
{% endblock %}