<!--This is the Home page of the site-->

{% extends "base.html" %}

{% block body %}
<!--This is the home page -->
    <section id="showcase">
            <div class="container">
              <h1>Welcome to Charnate</h1>
            </div>
          </section>

        <section id="our_mission">
            <div class="container">
              <h1>Our Mission</h1>
              <p>Our mission is to provide nonprofits with more funding, while also giving incentives to donors.</p>
              <img src="https://www.legalzoom.com/sites/lz.com/files/articles/how_to_start_a_nonprofit.jpg" alt="">
     
            </div>
          </section>
      
          <section id="contact">
            <div class="container">
              <h1>Contact Us!</h1>
              <h3>Got Questions? Let Us Know!</h3>
            
              <form method=post>
                {{ form.hidden_tag() }}
                {{form.fname(placeholder="First Name")}}
                {{form.lname(placeholder="Last Name")}}
                {{form.email(placeholder="Email")}}
                {{form.message(placeholder="Message")}}
                {{form.submit()}}
              </form>
            </div>
          </section>
{% endblock %}
